<ng-controller ng-controller="forumController">

    <a ng-if="isLoggedIn" class="add-button" href="#/forum/addTopic">Нова Тема</a>

    <div id="all-categories">
        <p>Категории:</p>
        <a ng-click="getAllTopics()" class="add-button">Всички категории</a>

        <ul ng-repeat="category in categories">

            <li id="{{category._id}}">
                <p ng-click="getAllTopicsFromCategory(category._id)">{{category.name}}</p>
                <button ng-click="removeCategory(category._id)" ng-if="userID === category._acl.creator" class="remove-button">X</button>
            </li>

        </ul>
        <a ng-if="isLoggedIn" href="#/forum/addCategory" class="add-button">Добави категория</a>
    </div>

    <div class="post" ng-repeat="topic in topics" ng-click="goToTopicPageWithID(topic._id)">
        <p>{{topic.header}}</p>
        <p>{{topic.author}}</p>
        <p>{{topic.category._obj.name}}</p>
        <p>{{topic._kmd.lmt}}</p>
    </div>

</ng-controller>