<form id="edit-article-form" class="first-element">
    <h2>Редактиране на статия</h2>
    <label>Заглавие</label>
    <input type="text" ng-model="article.header" placeholder="Заглавие" required/>
    <label>Година</label>
    <input type="text" ng-model="article.year" placeholder="Заглавие" required/>
    <label>URL на картинка</label>
    <input type="text" ng-model="article.imgUrl" placeholder="URL на картинка" required/>
    <img ng-src="{{article.imgUrl}}" id="article-image"/>
    <br>
    <label>Съдържание на статията</label>
    <textarea ng-model="article.content" placeholder="Съдържание на статията" required></textarea>
    <button type="submit" ng-click="editArticle(article)" ng-disabled="articleForm.$invalid">Редактирай статията</button>
</form>