html {
  height: 100%;
}
html body {
  height: 100%;
}
html body #wrapper {
  min-height: 100%;
  margin-bottom: -37px;
  background-color: #00A000;
}
html body #wrapper:after {
  content: "";
  display: block;
  height: 142px;
}
html body #wrapper .menu {
  margin: 0;
  background-color: black;
}
html body #wrapper .menu img {
  height: 50px;
  float: left;
}
html body #wrapper .menu li {
  display: inline-flex;
}
html body #wrapper .menu li:first-of-type {
  margin-left: 55px;
}
html body #wrapper .menu li:nth-last-of-type(-n+2) {
  float: right;
}
html body #wrapper .menu li a {
  color: gold;
  font-weight: bold;
  padding: 17px 20px;
  text-decoration: none;
}
html body #wrapper .menu li a:hover {
  background-color: #00A000;
}
html body #wrapper #currentPage {
  min-height: 90%;
  text-align: center;
}
html body #wrapper #currentPage #welcome-header {
  color: gold;
  margin-top: 0;
}
html body #wrapper #currentPage .first-element {
  margin: 0;
  padding: 13px;
  color: gold;
  font-weight: 900;
}
html body #wrapper #currentPage .last-element {
  margin: 0;
}
html body #wrapper #currentPage h4 {
  color: gold;
}
html body #wrapper #currentPage #login, html body #wrapper #currentPage #register {
  height: 180px;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
  vertical-align: top;
  position: relative;
}
html body #wrapper #currentPage #login form, html body #wrapper #currentPage #register form {
  margin: auto;
}
html body #wrapper #currentPage #login form h3, html body #wrapper #currentPage #register form h3 {
  float: none;
  margin: 5px;
  display: inline-block;
  text-align: center;
  color: darkgreen;
}
html body #wrapper #currentPage #login form input, html body #wrapper #currentPage #register form input {
  display: flex;
  text-align: center;
  margin: 5px;
}
html body #wrapper #currentPage #login form button, html body #wrapper #currentPage #register form button {
  bottom: 0;
  margin: 5px auto;
  background-color: green;
  padding: 6px 17px;
  border-radius: 7px;
  font-weight: bold;
  color: gold;
  display: block;
  width: 100%;
  position: absolute;
}
html body #wrapper #currentPage #login {
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fbfbfb', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
html body #wrapper #currentPage #register {
  background: #fb4e2f;
  background: -moz-linear-gradient(-45deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb4e2f', endColorstr='#f02f1e', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
html body #wrapper #currentPage .economy-article, html body #wrapper #currentPage .history-article, html body #wrapper #currentPage .landmarks-article, html body #wrapper #currentPage .population-article {
  height: 300px;
  width: 80%;
  overflow: hidden;
  background-color: black;
  margin: 15px auto;
  border: solid 1px;
  color: gold;
  box-shadow: 8px 8px 13px black;
}
html body #wrapper #currentPage .economy-article:hover, html body #wrapper #currentPage .history-article:hover, html body #wrapper #currentPage .landmarks-article:hover, html body #wrapper #currentPage .population-article:hover {
  background-color: brown;
  cursor: pointer;
}
html body #wrapper #currentPage .economy-article h3, html body #wrapper #currentPage .history-article h3, html body #wrapper #currentPage .landmarks-article h3, html body #wrapper #currentPage .population-article h3 {
  color: white;
  border-bottom: solid gold 1px;
}
html body #wrapper #currentPage .economy-article .image, html body #wrapper #currentPage .history-article .image, html body #wrapper #currentPage .landmarks-article .image, html body #wrapper #currentPage .population-article .image {
  width: 250px;
  float: left;
  vertical-align: top;
  margin: 7px 7px 7px 7px;
}
html body #wrapper #currentPage .economy-article .image img, html body #wrapper #currentPage .history-article .image img, html body #wrapper #currentPage .landmarks-article .image img, html body #wrapper #currentPage .population-article .image img {
  width: inherit;
}
html body #wrapper #currentPage .history-article .year {
  position: absolute;
}
html body #wrapper #currentPage .history-article .year img {
  position: absolute;
  top: -78px;
  left: -15px;
  width: 80px;
}
html body #wrapper #currentPage .history-article .year p {
  position: absolute;
  top: -53px;
  left: -2px;
  color: black;
  width: 60px;
}
html body #wrapper #currentPage .rzslider .rz-pointer {
  cursor: w-resize;
  background-color: transparent;
  color: black;
}
html body #wrapper #currentPage .rzslider .rz-bar.rz-selection {
  background-color: brown;
}
html body #wrapper #currentPage #last-added-articles {
  color: white;
  margin-bottom: 0px;
}
html body #wrapper #currentPage #article-page h2 {
  margin: 7px;
  color: gold;
}
html body #wrapper #currentPage #article-page h3 {
  margin: 7px;
  color: gold;
}
html body #wrapper #currentPage #article-page p {
  color: gold;
  width: 90%;
}
html body #wrapper #currentPage #article-page img {
  width: 60%;
}
html body #wrapper #currentPage #article-page button {
  color: gold;
  background-color: black;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}
html body #wrapper #currentPage .latest-articles {
  background-color: darkgreen;
  margin: 5px;
  display: inline-flex;
  width: 380px;
}
html body #wrapper #currentPage .latest-articles:hover {
  background-color: #363636;
  cursor: pointer;
}
html body #wrapper #currentPage .latest-articles div {
  width: 100%;
}
html body #wrapper #currentPage .latest-articles div h3 {
  color: floralwhite;
  margin: 4px;
}
html body #wrapper #currentPage .latest-articles div img {
  height: 200px;
  max-width: 97%;
}
html body #wrapper #currentPage #add-article {
  bottom: 0;
  margin: 5px auto;
  background-color: green;
  padding: 6px 17px;
  border-radius: 7px;
  font-weight: bold;
  color: gold;
  text-decoration: none;
  display: inline-block;
}
html body #wrapper #currentPage #add-article:hover {
  cursor: pointer;
}
html body #wrapper #currentPage #add-article-form input, html body #wrapper #currentPage #edit-article-form input {
  display: block;
  margin: 5px auto;
}
html body #wrapper #currentPage #add-article-form textarea, html body #wrapper #currentPage #edit-article-form textarea {
  display: block;
  margin: 5px auto;
  width: 550px;
  height: 260px;
}
html body #wrapper #currentPage #add-article-form button, html body #wrapper #currentPage #edit-article-form button {
  display: block;
  margin: 5px auto;
}
html body #wrapper #currentPage #add-article-form #article-image, html body #wrapper #currentPage #edit-article-form #article-image {
  max-width: 80%;
  border: 7px solid black;
}
html body #wrapper #currentPage #bulgaria-map {
  margin: 0 auto;
  width: 75%;
  position: relative;
}
html body #wrapper #currentPage #bulgaria-map #map {
  position: relative;
  width: 100%;
}
html body #wrapper #currentPage #bulgaria-map div {
  position: absolute;
}
html body #wrapper #currentPage #bulgaria-map div p {
  display: none;
  transition: width 2s;
}
html body #wrapper #currentPage #bulgaria-map div .landmark-image {
  transition: all .2s ease-in-out;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
html body #wrapper #currentPage #bulgaria-map div:hover {
  cursor: pointer;
}
html body #wrapper #currentPage #bulgaria-map div:hover p {
  width: 200px;
  display: block;
  position: inherit;
  background-color: gold;
  color: forestgreen;
  z-index: 2;
  left: -74px;
  top: -80px;
}
html body #wrapper #currentPage #bulgaria-map div:hover img {
  transform: scale(3.5);
}
html body #wrapper #currentPage #bulgaria-map #location-pointer {
  width: 50px;
  height: 50px;
  position: absolute;
}
html body footer {
  height: 20px;
  background-color: #880000;
  color: gold;
  border-top: solid white 3px;
  padding: 7px;
  text-align: center;
}
html .slide.ng-hide-add,
html .slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}
html .slide.ng-hide-add.ng-hide-add-active,
html .slide.ng-hide-remove {
  opacity: 0;
}
html .slide.ng-hide-add,
html .slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
html .slider {
  cursor: pointer;
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 550px;
}
html .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
html .slider .slide img {
  height: 500px;
  margin: 0 auto;
  width: 800px;
}
html .slider .slide h3 {
  position: inherit;
  top: 30px;
  margin: 0 auto;
  width: 100%;
  color: gold;
  background-color: rgba(70, 219, 73, 0.4);
}
html .slider .arrows {
  position: inherit;
  top: 217px;
}
html .slider .arrows #left, html .slider .arrows #right {
  height: 58px;
}
html .slider .arrows #left {
  margin-left: 10px;
  float: left;
}
html .slider .arrows #right {
  float: right;
}

/*# sourceMappingURL=style.css.map */
