@mixin green-button {
  bottom: 0;
  margin: 5px auto;
  background-color: green;
  padding: 6px 17px;
  border-radius: 7px;
  font-weight: bold;
  color: gold;
}

@mixin blur-by($px) {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  margin: -5px -10px -10px -5px;
}

body {

  background: url('../images/sila.jpg') no-repeat fixed center;
  background-size: 100%;

  overflow-y: scroll;

  #wrapper {
    .menu {
      margin: 0;
      background-color: black;
      img {
        height: 50px;
        float: left;
      }

      li {
        display: inline-flex;

        &:first-of-type {
          margin-left: 55px;
        }
        &:nth-last-of-type(-n+2) {
          float: right;
        }
        a {
          color: gold;
          font-weight: bold;
          padding: 17px 20px;
          text-decoration: none;

          &:hover {
            background-color: #00A000;
          }
        }
      }
    }

    #currentPage {
      text-align: center;
      background-color: #00A000;

      #welcome-header {
        color: chartreuse;
        margin-top: 0;
      }

      .first-element {
        margin: 0;
        padding: 13px;
        color: gold;
        font-weight: 900;
      }
      .last-element {
        margin: 0;
      }

      #login, #register {
        height: 180px;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
        vertical-align: top;
        position: relative;
        form {
          margin: auto;
          h3 {
            float: none;
            margin: 5px;
            display: inline-block;
            text-align: center;
            color: darkgreen;
          }
          input {
            display: flex;
            text-align: center;
            margin: 5px;
          }
          button {
            @include green-button;
            display: block;
            width: 100%;
            position: absolute;
          }
        }
      }

      #login {
        background: #ffffff;
        background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fbfbfb', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      }

      #register {
        background: #fb4e2f;
        background: -moz-linear-gradient(-45deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb4e2f', endColorstr='#f02f1e', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      }

      .economy-article {
        height: 294px;
        overflow: hidden;
        background-color: red;
        margin: 15px;
        display: inline-block;
        border-radius: 10px;
        border: solid white 3px;
        &:hover {
          background-color: #363636;
          cursor: pointer;
        }
        h3 {
          color: white;
          border-bottom: double 10px;
        }

        .image {
          width: 250px;
          float: left;
          vertical-align: top;
          margin: 7px 7px 7px 7px;

          img {
            width: inherit;
          }
        }
      }

      .history-article {
        height: 294px;
        overflow: hidden;
        background-color: #363636;
        margin: 15px;
        display: inline-block;
        border-radius: 10px;
        border: solid white 3px;
        &:hover {
          background-color: darkgoldenrod;
          cursor: pointer;
        }
        h3 {
          color: white;
          border-bottom: double 10px;
        }
        p {
          color: gold;
        }
        .image {
          width: 250px;
          float: left;
          vertical-align: top;
          margin: 7px 7px 7px 7px;
          img {
            width: inherit;
          }
        }
      }
      .rzslider .rz-pointer {
        cursor: w-resize;
        background-color: transparent;
        color: black;
      }
      .rzslider .rz-bar.rz-selection {
        background-color: brown;
      }

      #bulgaria-map{
        width: 95%;
        border-radius: 125px;
        border: 10px solid black;
      }
      .landmarks-article {
        height: 294px;
        overflow: hidden;
        background-color: red;
        margin: 15px;
        display: inline-block;
        border-radius: 10px;
        border: solid white 3px;


        &:hover {
          background-color: #363636;
          cursor: pointer;
        }
        h3 {
          color: white;
          border-bottom: double 10px;
        }

        .image {
          width: 250px;
          float: left;
          vertical-align: top;
          margin: 7px 7px 7px 7px;

          img {
            width: inherit;
          }
        }
      }

      .population-article {
        height: 294px;
        overflow: hidden;

        background-color: red;
        margin: 15px;
        display: inline-block;
        border-radius: 10px;
        border: solid white 3px;
        &:hover {
          background-color: #363636;
          cursor: pointer;
        }
        h3 {
          color: white;
          border-bottom: double 10px;
        }

        .image {
          width: 250px;
          float: left;
          vertical-align: top;
          margin: 7px 7px 7px 7px;

          img {
            width: inherit;
          }
        }
      }

      #last-added-articles {
        color: white;
        margin-bottom: 0px;
      }
      #this-article {
        background-color: black;
        border: 17px solid black;
        h2 {
          margin: 7px;
          color: gold;
        }
        h3 {
          margin: 7px;
          color: gold;
        }
        p {
          margin: 0 0 15px 0;
          color: #c8def4;
          width: 90%;
        }
        div {
          img {
            border-radius: 70px 5px;
            width: 100%;
          }
        }
        button {
          color: gold;
          background-color: black;
          border-radius: 5px;
          font-weight: bold;
          margin-top: 20px;
        }
      }
      .latest-articles {
        background-color: darkgreen;
        margin: 5px;
        display: inline-flex;
        width: 380px;
        &:hover {
          background-color: #363636;
          cursor: pointer;
        }
        div {
          width: 100%;
          h3 {
            color: floralwhite;
            margin: 4px;
          }

          img {
            height: 200px;
            max-width: 97%;
          }
        }

      }

      #add-article {
        @include green-button;
        text-decoration: none;
        display: inline-block;
      }

      #add-article-form {
        input {
          display: block;
          margin: 5px auto;
        }
        textarea {
          display: block;
          margin: 5px auto;
          width: 550px;
          height: 260px;
        }
        button {
          display: block;
          margin: 5px auto;
        }
        img {
          max-height: 300px;
          border-radius: 20px;
        }
      }
    }

    footer {
      background-color: #880000;
      color: gold;
      border-top: solid white 3px;

      padding: 7px;
      text-align: center;
    }
  }
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}

.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.slider {
  cursor: pointer;
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 550px;
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      @include blur-by(5px);
      height: 500px;
      margin: 0 auto;
      width: 800px;
    }
    h3 {
      position: inherit;
      top: 30px;
      margin: 0 auto;
      width: 100%;
      color: gold;
      background-color: rgba(70, 219, 73, 0.4);
    }
  }
  .arrows {
    position: inherit;
    top: 217px;
    img {
      height: 58px;

    }
    #left {
      margin-left: 10px;
      float: left;
    }
    #right {
      float: right;
    }
  }

}
