<ng-controller ng-controller="economyController">

    <h2 ng-hide="isLoaded">Моля изчакайте . . .</h2>

    <div ng-show="isLoaded">
        <h3>Данни за икономиката на България:</h3>
        <table border="1">
            <tr>
                <th scope="row" style="text-align:left">Ранг</th>
                <td style=";">74-то място (номинален)<br style="clear:both">
                    66-то място (ППС)
                </td>
            </tr>
            <tr>
                <th>Търговски организации</th>
                <td>ЕС ,СТО и ОЧИС</td>
            </tr>
            <tr>
                <th colspan="2">Статистика</th>
            </tr>
            <tr>
                <th>БВП</th>
                <td>
                    <p>54,3 милиарда долара (номинален) (2011)</p>
                    <p>101,036 милиарда долара (ППС) (2011) </p>
                </td>
            </tr>
            <tr>
                <th>Ръст на БВП</th>
                <td>2,0%(2015)</td>
            </tr>
            <tr>
                <th>БВП на глава от населението</th>
                <td>
                    <p>7 500 долара (номинален) (2013)</p>
                    <p>13 597 долара (ППС) (2011)</p>
            </tr>
            <tr>
                <th>БВП по сектор</th>
                <td>земеделие (7,5%), индустрия (27,6%), услуги (64,9%) (2009)</td>
            </tr>
            <tr>
                <th>Инфлация (Индекс на потребителските цени)</th>
                <td>3% (2012)</td>
            </tr>
            <tr>
                <th>Население под прага на бедността</th>
                <td>21% (2013)</td>
            </tr>
            <tr>
                <th>Коефициент на Джини</th>
                <td>35,4 (2013)</td>
            </tr>
            <tr>
                <th>Работна сила</th>
                <td>3 365,9 хил. (2014, НСИ)</td>
            </tr>
            <tr>
                <th>Работна сила според професията</th>
                <td>земеделие 7,5%, индустрия 36,4%, услуги 56,1% (Q1 2008)</td>
            </tr>
            <tr>
                <th>Безработица</th>
                <td>10.6% (април 2015)</td>
            </tr>
            <tr>
                <th>Средна брутна заплата</th>
                <td>BGN 937 (декември 2015, НСИ)</td>
            </tr>
            <tr>
                <th>Средна нетна заплата</th>
                <td>591 BGN (март 2012)</td>
            </tr>
            <tr>
                <th colspan="2">Външна търговия</th>
            </tr>
            <tr>
                <th>Износ</th>
                <td>26,08 млрд. долара (2011)</td>
            </tr>
            <tr>
                <th>Износни стоки</th>
                <td>облекла, обувки, желязо и стомана, машини и оборудване, горива</td>
            </tr>
            <tr>
                <th>Партньори за износ</th>
                <td>Германия 10,9%, Италия 9,9%, Румъния 9,5%, Гърция 8,1%, Турция 7,9%, Франция 4,1% (2010)</td>
            </tr>
            <tr>
                <th>Внос</th>
                <td>$28.39 милиарда (2011)</td>
            </tr>
            <tr>
                <th>Вносни стоки</th>
                <td>машини и оборудване, метали и руди, химикали и пластмаси, горива, минерали и сурови материали</td>
            </tr>
            <tr>
                <th>Основни партньори за внос</th>
                <td>Русия 16,3%, Германия 11,8%, Италия 7,5%, Румъния 7,1%, Гърция 6%, Турция 5,2%, Украйна 4,2% (2010)</td>
            </tr>
            <tr>
                <th colspan="2">Публични финанси</th>
            </tr>
            <tr>
                <th>Приходи</th>
                <td>19,11 милиарда долара</td>
            </tr>
            <tr>
                <th>Икономическа помощ</th>
                <td>475 милиона долара (2004&nbsp;– 06)</td>
            </tr>
            <tr>
                <th>Кредитен рейтинг</th>
                <td>BBB (вътрешен)<br>
                    BBB (чуждестранен)<br>
                    A (T&amp;C определяне)<br>
                    Стандард&amp;Пуърс
                </td>
            </tr>
            <tr>
                <th>Валутни и златни резерви</th>
                <td>17,781 милиарда долара (април 2011)</td>
            </tr>
            <tr>
                <td colspan="2"><a href="https://www.cia.gov/library/publications/the-world-factbook/geos/bu.html">Страница
                    в CIA The World Factbook</a><br></td>
            </tr>
        </table>
        <h4>Последно добавени статии:</h4>
        <article ng-repeat="article in articles" class="economy-article" ng-click="goToArticle(article._id)">
            <h3>{{article.header}}</h3>
            <div class="image">
                <img ng-src="{{article.imgUrl}}">
            </div>
            <p>{{article.content}}</p>
        </article>

        <login-or-add-article>
    </div>

</ng-controller>