<div ng-if="!isLoggedIn">
    <div id="login">

        <form name="loginUserForm">
            <h3>login</h3>
            <input type="text" placeholder="username" required="required" ng-model="login.username"/>
            <input type="password" placeholder="password" required="required" ng-model="login.password"/>
            <button type="button" ng-disabled="loginUserForm.$invalid" ng-click="loginUser(login)">login</button>
        </form>
    </div>

    <div id="register">

        <form name="registerUserForm">
            <h3>register</h3>
            <input type="text" placeholder="Username" required="required" ng-model="register.username"/>
            <input type="text" placeholder="Name" required="required" ng-model="register.name"/>
            <input type="password" placeholder="Password" required="required" ng-model="register.password"/>
            <button type="button" ng-disabled="registerUserForm.$invalid" ng-click="registerUser(register)">register
            </button>
        </form>
    </div>
</div>

<div ng-if="isLoggedIn">
    <h2 id="welcome-header">Добре дошъл, {{user}}!</h2>
</div>

<h2 id="last-added-articles">Последно добавени статии:</h2>
<article ng-repeat="article in articles" class="latest-articles">
    <div>
        <h3>{{article.header}}</h3>
        <img ng-src="{{article.imgUrl}}">
        <p>{{article.content}}</p>
    </div>

</article>