<div ng-if="!isLoggedIn">
    <div id="login">

        <form name="loginUserForm">
            <h3>Вход</h3>
            <input type="text" placeholder="Потребител" required="required" ng-model="login.username"/>
            <input type="password" placeholder="Парола" required="required" ng-model="login.password"/>
            <button type="button" ng-disabled="loginUserForm.$invalid" ng-click="loginUser(login)">Вход</button>
        </form>
    </div>

    <div id="register">

        <form name="registerUserForm">
            <h3>Регистрация</h3>
            <input type="text" placeholder="Потребител" required="required" ng-model="register.username"/>
            <input type="text" placeholder="Име" required="required" ng-model="register.name"/>
            <input type="password" placeholder="Парола" required="required" ng-model="register.password"/>
            <button type="button" ng-disabled="registerUserForm.$invalid" ng-click="registerUser(register)">Регистрирай се
            </button>
        </form>
    </div>
</div>

<div ng-if="isLoggedIn">
    <h2 id="welcome-header">Добре дошъл, {{user}}!</h2>
</div>

<h2 id="last-added-articles">Последно добавени статии:</h2>
<article ng-repeat="article in articles" class="latest-articles" ng-click="goToArticle(article._id)">
    <div>
        <h3>{{article.header}}</h3>
        <div>
            <img ng-src="{{article.imgUrl}}">
        </div>

    </div>

</article>