<form id="add-article-form" name="articleForm">
    <input type="text" ng-model="article.header" placeholder="Заглавие" required/>

    <div ng-if="articleType == 'landmarks'">
        <h4>Изберете местоположението на забележителността:</h4>
        <div bulgaria-map></div>
        <p>Координати:</p>
        <input type="text" ng-model="article.parallel" id="parallel" placeholder="Широта" />
        <input type="text" ng-model="article.meridian" id="meridian" placeholder="Дължина" />
    </div>

    <input ng-if="articleType == 'history'" type="number" ng-model="article.year" placeholder="Година" required/>

    <input type="text" ng-model="article.imgUrl" placeholder="URL на картинка" required/>

    <img ng-src="{{article.imgUrl}}" id="article-image"/>

    <textarea ng-model="article.content" placeholder="Съдържание на статията" required></textarea>

    <button type="submit" ng-click="addArticle(article)" ng-disabled="articleForm.$invalid">Добави статията</button>
</form>