<h2 ng-hide="isLoaded" class="first-element">Моля изчакайте . . .</h2>

<div ng-show="isLoaded">
    <h4 class="first-element">Забележителности на картата:</h4>
    <div bulgaria-map></div>

    <h4>Последно добавени:</h4>

    <article ng-repeat="article in articles" class="landmarks-article" ng-click="goToArticle(article._id)">
        <h3>{{article.header}}</h3>
        <div class="image">
            <img ng-src="{{article.imgUrl}}">
        </div>
        <p>{{article.content}}</p>
    </article>

    <login-or-add-article>
</div>

