<h2 ng-hide="isLoaded">Моля изчакайте . . .</h2>

<div ng-show="isLoaded">
    <h3>Изберете период от историята:</h3>
    <rzslider
            rz-slider-model="slider.min"
            rz-slider-high="slider.max"
            rz-slider-options="slider.options">
    </rzslider>

    <article ng-repeat="article in articles" class="history-article" ng-click="goToArticle(article._id)">
        <h3>{{article.header}}</h3>
        <div class="year">
            <img src="../../images/year_background.png">
            <p>{{article.year}} г.</p>
        </div>
        <div class="image">
            <img ng-src="{{article.imgUrl}}">
        </div>
        <p>{{article.content}}</p>
    </article>

    <login-or-add-article>
</div>

