body {
    background: url('../images/sila.jpg') no-repeat fixed center;
    background-size: 100%;
    text-align: center;
    overflow-y: scroll;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    display: block;

}

article{
    background-color: red;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    border: solid white 3px;
}

article h3{
    color: white;
    border-bottom: double 10px;
}

article .image{
    width:250px;
    float: left;
    vertical-align: top;
    margin: 7px 7px 7px 7px;
}
article .image img{
    width: inherit;
}

#currentPage {
    background-color: #00A000;
    border: solid white 3px;
}

ul.menu {
    padding: 5px;
    margin: 5px auto;
    background-color: white;
    display: inline-block;
}

ul.menu li {
    display: inline-flex;
}

ul.menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul.menu li a:hover {
    background-color: orange;
}

footer{
    background-color: #880000;
    border: solid white 3px;
    margin-top: 10px;
}