body {
    background: url('../images/farmer.jpg') no-repeat fixed center;
    background-size: 100%;
    text-align: center;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    display: block;

}



#currentPage {
    background-color: #00A000;
}

ul.menu {
    padding: 5px;
    margin: 5px auto;
    background-color: white;
    display: inline-block;
}

ul.menu li {
    display: inline-flex;
}

ul.menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul.menu li a:hover {
    background-color: orange;
}

footer{
    background-color: #880000;
}