body {
    background: url('../images/sila.jpg') no-repeat fixed center;
    background-size: 100%;
    text-align: center;
    overflow-y: scroll;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    display: block;

}

#login{
    position: relative;
    right: 100px;
    margin: 15px;
    display: inline-flex;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,ffffff+33,fafafa+59,ffffff+63,ffffff+67,f3f3f3+68,f3f3f3+68,fbfbfb+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 33%, #ffffff 33%, #fafafa 59%, #ffffff 63%, #ffffff 67%, #f3f3f3 68%, #f3f3f3 68%, #fbfbfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 33%,#ffffff 33%,#fafafa 59%,#ffffff 63%,#ffffff 67%,#f3f3f3 68%,#f3f3f3 68%,#fbfbfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 0%,#ffffff 33%,#ffffff 33%,#fafafa 59%,#ffffff 63%,#ffffff 67%,#f3f3f3 68%,#f3f3f3 68%,#fbfbfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width: 33%;
    height: 200px;
}
#register{
    position: relative;
    left: 100px;
    margin: 15px;
    display: inline-flex;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb4e2f+0,f76d57+61,fa2508+67,f62d12+79,f02f1e+100 */
    background: #fb4e2f; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #fb4e2f 0%, #f76d57 61%, #fa2508 67%, #f62d12 79%, #f02f1e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #fb4e2f 0%,#f76d57 61%,#fa2508 67%,#f62d12 79%,#f02f1e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #fb4e2f 0%,#f76d57 61%,#fa2508 67%,#f62d12 79%,#f02f1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb4e2f', endColorstr='#f02f1e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width: 33%;
    height: 200px;
}

article{
    background-color: red;
    margin: 15px;
    display: inline-block;
    border-radius: 10px;
    border: solid white 3px;
}

article h3{
    color: white;
    border-bottom: double 10px;
}

article .image{
    width:250px;
    float: left;
    vertical-align: top;
    margin: 7px 7px 7px 7px;
}
article .image img{
    width: inherit;
}

#currentPage {
    background-color: #00A000;
    border: solid white 3px;
}

ul.menu {
    padding: 5px;
    margin: 5px auto;
    background-color: white;
    display: inline-block;
}

ul.menu li {
    display: inline-flex;
}

ul.menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul.menu li a:hover {
    background-color: orange;
}

footer{
    background-color: #880000;
    border: solid white 3px;
    margin-top: 10px;
}